<div id="footer-row" class="row" style="
	min-height: 290px;
	background: #071a4a;
	padding: 20px 0;
	margin-top:50px;
	border-top: 7px solid #0E3390;
	">
	<div class="col-xs-12">
		<div class="col-md-5 col-md-offset-1">
			
			Isko &copy; Copyright 2017

		</div>
		<div class="col-md-5 col-md-offset-1">
			
			

		</div>
	</div>
</div>