<?php
$back_link = isset($back_link) ? $back_link : '/users/isko_dashboard';
?>
<nav class="navbar navbar-default navbar-fixed-top" style="
	background: #0E3390;
	border: 0;
	">
	<div class="container-fluid col-md-10 col-md-offset-1">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> -->
			<a class="navbar-brand" href="<?php echo $this->base;?><?php echo $back_link;?>" style="color: #fff">Back</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<!-- <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> -->
				<!-- <li><a href="#">Link</a></li> -->
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li> -->
			</ul>
			<!-- <form class="navbar-form navbar-left">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form> -->
			<ul class="nav navbar-nav navbar-right">
				<!-- <li><a href="<?php echo $this->base;?>/exams/take/">Exam</a></li> -->
				<!-- <li><a href="<?php echo $this->base;?>/examinees/index/">Examinees</a></li> -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Username<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="#">----</a></li>
						<li><a href="#">-------</a></li>
						<li><a href="#">------------</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="<?php echo $this->base;?>/users/logout">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<style type="text/css">
.navbar-default *{
	/*color: #ffffff !important;*/
}
.navbar-default .navbar-nav>li>a{
	color: #ffffff !important;	
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
	background: #0E3390;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
	background: #0E3390;
}
.navbar-default .navbar-toggle{
	border-color: #fff;
	/*#fdc358;*/
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
	/*#fdc358;	*/
}
.navbar-default .caret{
	color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: #fff;	
}

@media (min-width: 768px) {
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: #000;	
	}
}
</style>