
@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
font-weight: thin;
font-style: normal;
 }

@font-face {
font-family: 'RobotoNormal';
src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
/*font-weight: bold;*/
/*font-style: normal;*/
}

/*@font-face {
font-family: 'Roboto';
src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}*/

*{
	font-family:Roboto;
	font-style: normal;
	font-weight: lighter;
	color: #50493a;
}
body{
	background: #faf1ff;
}

/*CSS BY JOB*/

.pr-color{
	background-color: #071a4a;
}
.sc-color{
	background-color: #0E3390;
}

/*@font-face {
font-family: 'Roboto';
src: local('Open Sans Light'), local('OpenSans-Light'),url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
}*/




/* NOTES
remvove the topnav and topnavnomenu if not used
remove nomenu.ctp in layouts if it in't present

/css/





*/




.btn{
	font-size: 18px;
}
.btn-default{
	color: #777;
}
.btn-default:hover, .btn-default:active, .btn-default:active:hover, .btn-default:focus{
	background-color: #ccc;
	color: #777;
}
.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover{
	background-color: #fff;
	color: #777;	
}

.btn-primary{
	color: #fff;
	background-color: #0e3390;
	border-color: #0936a9;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:active:hover, .btn-primary:focus{
	color: #fff;
	background-color: #0e3390;
	border-color: #0936a9;
}
.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover{
	background-color: #ffa500;
	border-color: #ffa500;
}


#footer-row *{
	color: #fff;
}