<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Isko App</title>

<!-- Bootstrap -->
<link href="<?php echo $this->base;?>/css/bootstrap.min.css" rel="stylesheet">

<link href="<?php echo $this->base;?>/css/bootstrap.min.css" rel="stylesheet">

<link href="<?php echo $this->base;?>/css/custom.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="<?php echo $this->base;?>/js/bootstrap.min.js"></script>

</head>
<body>

<?php 
//echo $this->element('topnav', array());
?>

<div style="min-height: 450px;margin-top:80px;">
	<?php echo $this->fetch('content'); ?>
</div>

<?php 
//echo $this->element('footer', array());
?>

</body>
</html>
