<form class="col-sm-12 col-md-4 col-md-offset-4" method="post" style="margin-top: 80px;">
  <div style="font-size: 22px;text-align: center;">Redeem</div>
  <br>
  <div class="form-group">
    <label for="exampleInputEmail1">Amount:</label>
    <input type="text" class="form-control" id="withdraw_amount" name="amount" placeholder="0.00" value="">
  </div>
  <div class="<?php echo $class ?>">
  	<?php echo $this->Flash->render(); ?>
	</div>
  <button type="submit" class="btn btn-primary">Withdraw</button>
</form>

<style type="text/css">
.form-control {
	font-size: 34px;
	height: 64px;
}
</style>
